[submodule "include/libuv"]
	path = include/libuv
	url = git://github.com/joyent/libuv.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = git://github.com/joyent/libuv.git
[submodule "bin/wrk"]
	path = bin/wrk
	url = git://github.com/wg/wrk.git
