# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio uglies
*.v11.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.ncrunchsolution
*.sdf

# Build artifacts
Default/
Debug/